body,table
{	
	margin-left: auto;
	margin-right: auto;
	font-family: "Arial", sans-serif;
	text-align: center;
	width: 80%;
}

table
{
	width: 50%;
}

footer
{
	margin-top: 2%;
	font-size: 8pt;
}

#logo
{
	width: 341px;
	height: 240px;
}

tr.eventDone
{
	background-color: green;
	color: white;
}

tr.eventFail
{
	background-color: black;
	color: white;
}

tr.eventWarmup
{
	background-color: orange;
	color: black;
}

tr.eventActive
{
	background-color: darkred;
	color: white;
}

tr.eventPrep
{
	background-color: gray;
	color: white;
}

td a:link, td a:visited
{
	color: inherit;
	text-decoration: none;
}

td a:hover 
{
	text-decoration: underline;
}

tr td
{
	padding: 0px;
	margin: 0px;
}

td img 
{
	border: 1px solid gray;
	border-radius: 15%;
	margin-top: 5px;
	max-width: 32px;
	max-height: 32px;
}
